.custom-news {
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &--icon {
            margin-left: 8px;
            margin-bottom: -1px;
        }
    }
}